<fieldset>
    <legend>Edit Review</legend>

    <div class="form-group">
      <label for="review-title">Title</label><br>
      <input class="form-control" id="review-title" type="text" name="title" value="{{review.title}}"/>
    </div>

    <div class="form-group">
      <label for="movie-title">Movie Title</label><br>
      <input class="form-control" id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </div>

    <div class="form-group">
        <label for="rating-attribute">Rating</label><br>
        <select class="form-control" name="rating" id="rating">
            <option value="{{review.rating}}">{{review.rating}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
      <label for="review-description">Description</label><br>
      <textarea class="form-control" id="review-description" name="description" rows="10" />{{review.description}}</textarea>
    </div>
</fieldset>